body {
  background-image: url("../img/avenida4.jpg");
}

.top-semaforo {
  background-color: black;
  margin: 0 auto;
  max-width: max-content;
  height: 200px;
}

.semaforo {
  background-color: black;
  margin: 0 auto;
  max-width: 150px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.redChamber {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
  margin-top: 20px;
}
.yellowChamber {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: yellow;
  margin: 0 auto;
  margin-top: 30px;
}
.greenChamber {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(38, 218, 38);
  margin: 0 auto;
  margin-top: 30px;
}

.activeChamber {
  box-shadow: 0 0 20px 10px rgba(255, 255, 200, 0.9),
    0 0 30px 15px rgba(255, 255, 200, 0.6);
}
